@model NV.Tax.SST.Gateway.MVC.Models.AdministrationModel
@{string name = Url.RequestContext.RouteData.Values["id"].ToString();}

<div class="x-form-wrapper">
    <div class="x-form-title">
        <h3><strong>User Detail for <b>@Url.RequestContext.RouteData.Values["id"]</b></strong></h3>
    </div>
    <div class="x-form-body">
        @using (Html.BeginForm("EditUser", "Administration", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "label-control" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "", value = "Text" })
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "alert-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "label-control" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "alert-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProcessType, new { @class = "label-control" })
                @Html.DropDownListFor(m => m.ProcessType, new[]{
                    new SelectListItem { Text = "Processed", Value = "Processed" },
                    new SelectListItem { Text = "Both", Value = "Both" }
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProcessType, null, new { @class = "alert-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                @Html.ActionLink("Cancel", "Manager", "Administration", null, new { @class = "btn btn-lg btn-default" })
            </div>
        }
    </div>
</div>
@{
    string password = "";
    var entity = new NV.Tax.SST.Gateway.DB.Entities.sstpEntities();
    var data = from db in entity.users
               where db.username == name
               select db;
    foreach (var item in data)
    {
        password = item.password;
        <script>document.getElementById("Password").defaultValue = "@password"</script>
        if (item.processtype == "B")
        {
            <script>document.getElementById("ProcessType").value = "Both"</script>
        }
        else
        {
            <script>document.getElementById("ProcessType").value = "Processed"</script>
        }
    }

}
<script>
    document.getElementById("UserName").defaultValue = "@Url.RequestContext.RouteData.Values["id"]";
</script>