
<div class="table-result">
    <h4>Welcome to the Gateway, <b>@HttpContext.Current.User.Identity.Name</b></h4>
    <p>Average processing time @ViewBag.ProcessTime milliseconds/transmission</p>
    <p><b>Most Active Transmitters</b></p>
    <hr />
    <table width="100%">
        @{
            int count = 0;
            var entity = new NV.Tax.SST.Gateway.DB.Entities.sstpEntities();
            var ack = from db in entity.acks
                      group db by new {db.transmitter} into g
                      select g;
            var transmission = from db in entity.transmissions
                               select db.transmitter.Distinct();
            var receipts = from db in entity.receipts
                           select db.transmitter.Distinct();
            var eUser = from db in entity.acks
                       select db.transmitter;
            var eTran = from db in entity.transmissions
                        select db.transmitter;
            var eAck = from db in entity.acks
                       select db.transmitter;
            var eRec = from db in entity.receipts
                       select db.transmitter;             
            count = ack.Count();
            // Draw the table columns
            <tr class="table-heading">
                <td width="10%">
                    <b>User</b>
                </td>
                <td width="30%">
                    <b>Transmissions</b>
                </td>
                <td width="30%">
                    <b>Acknowledgements</b>
                </td>
                <td width="30%">
                    <b>Receipts</b>
                </td>
            </tr>
            
            for (int i = 1; i <= count; i++)
            {
                if (i % 2 != 0)
                {
                    <tr style="background: #cdcdcd">
                        <td>
                            @eUser.First()
                        </td>
                        <td>
                            @eTran.Count()
                        </td>
                        <td>
                            @eAck.Count()
                        </td>
                        <td>
                            @eRec.Count()
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="background: #dedede">
                        <td>
                            @eUser.First()
                        </td>
                        <td>
                            @eTran.Count()
                        </td>
                        <td>
                            @eAck.Count()
                        </td>
                        <td>
                            @eRec.Count()
                        </td>
                    </tr>
                }

            }
            List<string> names = new List<string>();
            foreach( var item in eUser)
            {
                names.Add(item);
            }
            while (count < 3)
            {
                var random_user = entity.users.Where(db => !names.Contains(db.username)).ToList();
                if (count % 2 != 0)
                {
                    <tr style="background: #cdcdcd">
                        <td>
                            @random_user[count].username
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="background: #dedede">
                        <td>
                            @random_user[count].username
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                }
                count++;
            }
}
</table>
</div>