<div class="x-form-wrapper">
    <div class="x-form-title">
        <h3><strong>Data Viewer</strong></h3>
    </div>
    <div class="x-form-body">
        <ul class="nav nav-pills nav-justified nav-tabs">
            <li class="active"><a href="#LogSearch" data-toggle="tab">Log Search</a></li>
            <li><a href="#DocViewer" data-toggle="tab">Document Viewer</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="LogSearch">
                <br />
                <select>
                    <option>gateway.log</option>
                </select><br />
                <select>
                    <option>All</option>
                    <option>Trace</option>
                    <option>Debug</option>
                    <option>Information</option>
                    <option>Warning</option>
                    <option>Error</option>
                    <option>Fatal</option>
                </select>
                <br />
                <button type="button" class="btn btn-lg btn-default">Retrieve Log</button>
            </div>
            <div class="tab-pane fade" id="DocViewer">
                <table>
                    <tr>
                        <td>
                            <table class="table table-condensed">
                                <tr style="margin-right: 3px">
                                    <td><strong>Sort By</strong></td>
                                    <td>
                                        <select style="width: 100%">
                                            <option>Transmission Date</option>
                                            <option>Transmission ID</option>
                                            <option>Transmitter</option>
                                            <option>Document ID</option>
                                            <option>SSTP ID</option>
                                            <option>Document Type</option>
                                            <option>Process Type</option>
                                            <option>Schema Version</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Transmission ID</strong></td>
                                    <td><input type="text" name="TransID" /></td>
                                </tr>
                                <tr>
                                    <td><strong>Document Type</strong></td>
                                    <td><input type="text" name="DocType" /></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="table table-condensed">
                                <tr style="margin-right: 3px">
                                    <td><strong>Order</strong></td>
                                    <td>
                                        <select style="width: 100%">
                                            <option>Descending</option>
                                            <option>Ascending</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Transmitter</strong></td>
                                    <td><input type="text" name="Transmitter" /></td>
                                </tr>
                                <tr>
                                    <td><strong>Schema Version</strong></td>
                                    <td><input type="text" name="SchemaVersion" /></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="table table-condensed">
                                <tr style="margin-right: 3px">
                                    <td><strong>Result Size</strong></td>
                                    <td>
                                        <select style="width: 100%">
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20</option>
                                            <option>25</option>
                                            <option>30</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Document ID</strong></td>
                                    <td><input type="text" name="TransID" /></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-lg btn-primary">Search</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table table-striped">
                    <tr>
                        <td><strong>Transmission Date</strong></td>
                        <td><strong>Transmission ID</strong></td>
                        <td><strong>Transmitter</strong></td>
                        <td><strong>Document ID</strong></td>
                        <td><strong>Document Type</strong></td>
                        <td><strong>Process</strong></td>
                        <td><strong>Schema Version</strong></td>
                        <td><strong>Retrieve XML</strong></td>
                    </tr>
                    @{
                        var db = new NV.Tax.SST.Gateway.DB.Entities.sstpEntities();
                        var data = from m in db.transmissions
                                   select m;
                                   
                        foreach(var item in data)
                        {
                            <tr>
                                <td>@item.timestamp</td>
                                <td>@item.id</td>
                                <td>@item.transmitter</td>
                                <td>@item.identity</td>
                                <td>@item.transmissiontype</td>
                                <td>@item.processed</td>
                                <td>@item.version</td>
                                <td><button type="button" class="btn btn-info">Generate XML</button></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>